.sidebar--custom-colors {
    --rcx-color-neutral-100: #1f2329;
    --rcx-color-neutral-200: #414852;
    --rcx-color-neutral-300: #6c727a;
    --rcx-color-neutral-400: #9ea2a8;
    --rcx-color-neutral-500: #cbced1;
    --rcx-color-neutral-600: #e4e7ea;
    --rcx-color-neutral-700: #eeeff1;
    --rcx-color-neutral-800: #f2f3f5;
    --rcx-color-neutral-900: #f7f8fa;
    --rcx-color-primary-100: #f2824d;
    --rcx-color-primary-200: #F39468;
    --rcx-color-primary-300: #10529e;
    --rcx-color-primary-400: #095ad2;
    --rcx-color-primary-500: #1d74f5;
    --rcx-color-primary-600: #549df9;
    --rcx-color-primary-700: #76b7fc;
    --rcx-color-primary-800: #d1ebfe;
    --rcx-color-primary-900: #e8f2ff;
    --rcx-button-icon-active-border-color: #1f2329;
    --rcx-button-icon-active-background-color: #414852;
    --rcx-button-icon-color: #9ea2a8;
    --rcx-button-icon-border-color: #EAFCF6;
    --rcx-button-icon-background-color: #EAFCF6;
    --rcx-button-icon-hover-background-color: #1f2329;
    --rcx-button-icon-hover-border-color: #1f2329;
    --rcx-button-icon-focus-background-color: var(--rcx-color-neutral-300);
    --rcx-button-icon-focus-border-color: var(--rcx-color-neutral-500);
    --rcx-button-icon-focus-shadow-color: none;
    --rcx-button-icon-success-active-border-color: #1f2329;
    --rcx-button-icon-success-active-background-color: #414852;
    --rcx-button-icon-success-color: #9ea2a8;
    --rcx-button-icon-success-border-color: #EAFCF6;
    --rcx-button-icon-success-background-color: #EAFCF6;
    --rcx-button-icon-success-hover-background-color: #1f2329;
    --rcx-button-icon-success-hover-border-color: #1f2329;
    --rcx-sidebar-item-background-color-hover: #F39468 !important;
    --rcx-sidebar-item-background-color-selected: rgba(108,114,122, 0.3);
    --rcx-badge-colors-ghost-background-color: #6c727a;
    --rcx-tag-colors-ghost-background-color: #6c727a;
    --rcx-color-surface-light: #1f2329;
    --rcx-button-icon-disabled-color: #6c727a;
    --rcx-button-icon-disabled-background-color: #1f2329;
    --rcx-button-icon-disabled-border-color: #1f2329;
    --rcx-divider-color: rgba(31,35,41, 0.4);
    --rcx-color-foreground-alternative: #f7f8fa;
    --rcx-color-foreground-hint: #9ea2a8;
    --rcx-sidebar-title-color: var(--rcx-color-neutral-100, #e4e7ea)!important;
    --rcx-sidebar-item-color: var(--rcx-color-neutral-100, #e4e7ea)!important;
    --rcx-sidebar-item-color-hover: var(--rcx-color-neutral-200, #e4e7ea) !important;
    --rcx-sidebar-item-color-selected: var(--rcx-color-neutral-100, #e4e7ea)!important;
    --rcx-sidebar-footer-highlight-color: var(--rcx-color-neutral-400, #e4e7ea);
}
